<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />




    <application
        android:name=".NVApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_monochrome"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeuroVerse"
        tools:targetApi="33" >
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.NeuroVerse"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="33" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ModelLoadingActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.NeuroVerse"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="33" >
        </activity>


        <activity
            android:name=".activity.TempActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.NeuroVerse"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="33" >

            <!-- Intent filter for .neuron files from file managers -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.neuron" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.neuron" />
                <data android:pathPattern=".*\\.NEURON" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.ModelPickerActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.NeuroVerse"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="33" >
        </activity>

        <activity
            android:name=".activity.RagActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.NeuroVerse"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="33" >

            <!-- Intent filter for .neuron RAG files -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.rag" />
                <data android:pathPattern=".*\\.RAG" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.LLMService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"
            android:permission="android.permission.FOREGROUND_SERVICE_DATA_SYNC"
            android:stopWithTask="false" />

        <service
            android:name=".service.ModelDownloadService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

    </application>

</manifest>